#title{
    background-color: #5BBFE0;
    color: #fff;
}
h1{
    font-family: "Montserrat";
    /* color: black; */
    size: 3.5rem;
    line-height: 1.5;
}
h2{
    /* font-family: "Montserrat-Bold"; */
    /* font-family: 'Long Cang', cursive; */
    font-family: 'Architects Daughter', cursive;
    font-size: 2rem;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat-Bold";
}
p{
    color: #8f8f8f;
    font-family: Ubuntu;
    font-weight: bold;
}
.container-fluid{
    padding: 3% 15% 7%;
}
body{
    font-family: "Montserrat";
}
/* Navigation Bar */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size:2.5rem;
    font-weight: bold;
    
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}
/*  Download Buttons */
.download-button{
    margin: 5% 3% 5% 0%;
}
/* Title image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

  
/* Features section */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #7A6FE1;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #A494F4;
}

/* Testimonial Section */
#testimonials{
   
    text-align: center;
    background-color:#7A6FE1 ;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #7A6FE1 ;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;

}

/* Pricing Section */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
   
}
.pricing-h2{
    font-family: "Montserrat";
}
.pricing-images{
    height: 100px;
    
}



/* CTA Section */
#cta{
    background-color: #7A6FE1;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
    
}
.cta-heading{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Footer - Section */
#footer{
    padding: 7% 15%;
    text-align:center;
}
.social-icon{
    margin: 20px 10px;
}

@media(max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform:rotate(0);
    }
}